:root {
    --black:#30302F;
    --beige:#E1D5C7;
    --grey:#F8F8F8;
    --white:#FFF;

}


@font-face {
    font-family:'Urbanist', sans-serif; 
    src: url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
};

@font-face {
    font-family:'Urbanist', sans-serif; 
    src: url('https://fonts.googleapis.com/css2?family=Raleway&family=Reem+Kufi+Fun:wght@700&family=Urbanist:wght@600&display=swap');
  
};

@font-face {
    font-family: 'Playfair Display SC', serif;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
};




html{
    margin: auto;
}

body{
    color:var(--beige);
    margin: auto;
    min-height: 100dvh;

}

h1,
p,
a,
h2,
h3{
    font-family:'Urbanist';
    color: var(--black);
    text-decoration: none;
    
    
}


h1{
    font-size: 16px;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 0rem;

}

h2{
   font-weight: 600;
   font-size: 24px;
}




.logo-img{
    position: absolute;
    top: 0.4rem;
    width: 100px;
    align-self: center;
    padding-bottom: 0.4rem;
    z-index: 2;


}

.hamburger{
    color: var(--black);
    align-self: flex-end;
    padding: 2rem;
    padding-bottom: 1rem;


}
.menu-link {
   
    padding-top: 4rem;
    padding:1.5rem;

}

.top-menu{
    display: none;

}

.menu{
    display: none;
    background-color: var(--beige);
    padding: 2rem;

}

#checkbox{
    display: none;
}

#checkbox:checked ~ .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: flex-end;
    z-index: 1;

   
  }  

header{
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    position:relative;
    height: 100px;

   
  }  

main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
   


    }  

.main-img-div{
    position: relative;

    }  

.main-img{
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  animation: slideIn 2s;


   
  }  

  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.under-text-overlay,
.text-overlay{
  color: #FFF;
  text-align: center;
  font-family: Playfair Display SC;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  top: 55%;
  position: absolute;
  padding: 0.4rem;
  padding-right: 2rem;
  padding-left: 2rem;
  animation: fadeIn 2s;
  
}  

.under-text-overlay{
    font-size: 24px;
    font-style:italic;
    font-weight: 200;
    top: 80%;
    
  }  



footer{
    background-color:var(--grey);
    display: flex;
    flex-direction: column;
    z-index: 1;
  }  

.logo-footer{
   width: 40px;
   padding: 2rem;
   align-self: center;
   
  }  
.coptrights,
.link-footer{
    align-self: center;
    padding: 0.5rem;
    font-size: 12px;
    
   } 


.coptrights{

    font-size: 10px;
    padding-top: 2rem;
    
   } 

.background-img,
.contact-form,
.blog-specific-page-container,
.blog-page-container{
    font-family: 'Urbanist';
    color: var(--black);
    background-color: var(--white);
    margin: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 100vp;


} 

label{
    font-family: 'Urbanist';
    color: var(--black);
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem ;
    

    
}



input[type="submit"] {
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 130px;
    height: 40px;
    background-color: var(--black);
    color: var(--white);
    border: 0;
    justify-self: center;
    align-self: center;
    font-size: 12px;
    font-family: 'Urbanist';

}
input[type="text"],
input[type="email"],
textarea{
    
    border: 0;
    border-bottom: solid var(--black) 1px;
    height: 1.6rem;
}

textarea{
    
    height: 6rem;
    border: solid 1px;
}



.background-img{
    background-image: url('../IMG/main-img.jpg');
    margin: 2rem;

}

.contact-form{
    background-color: var(--grey);
    margin: 0rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 100vp;


} 


.header-contact-form{
    font-family:'Urbanist';
    font-weight: 700;
    font-size:25px ;
    line-height: 42px;
    
    

}


div.product > *{
   min-width: 100vp;
   display: flex;
   flex-direction: column;

} 

.product{
   display: flex;
   flex-direction: column;
    
 } 

 #load-more{
    text-decoration: underline;
    font-weight: bold;
    border: none;
    font-family: 'Urbanist';
    background-color:var(--white);
    padding: 1rem;

  } 


/* Last post carousel*/

.main-wrapper{
    min-width:100vp;
    max-width: 500px;
    
    
    
}

.main-slider-wrapper{
    overflow: hidden;
}

.slider-wrapper{
    
    display: flex;
    height: 450px;
    min-width:100vp;
   
     
}


.card{
    
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 450px;
    height: 400px;
    border-radius: 25px;
    align-self: center;
    background-color: white;
    justify-content: flex-start; 
    transition: transform 100ms ease-in ;
    transform: translateX(0);
    margin: 0.5rem;
   
 

}

.card-container{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding:1rem;
    
    

}

div.card .wp-block-heading{
    font-family: 'Urbanist';
    margin: 0%;
    font-size: 18px;
    font-weight: 600;

}

div.card p {
    font-size: 13px;
}


.last-posts-button-wrapper{
    display: flex;
    flex-direction: row;
    height: 20px;
    padding: 3rem;
    justify-content: center;
    

}

#right-btn,
#left-btn{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border-color: var(--black) 1px;
    background-color: transparent;
    margin: 1rem;
    margin-top: 0rem;
    outline-color: #30302F;
    border-width: 1px;
    border-style: none;
    text-decoration: none;

}

