:root {
    --black:#30302F;
    --beige:#E1D5C7;
    --grey:#F8F8F8;



}


@font-face {
    font-family:'Urbanist', sans-serif; ;
    src: url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
}


html{
    margin: auto;
}

body{
    color:var(--beige);
    margin: auto;
}

.logo-img{
    width: 140px;
    align-self: center;

}

.hamburger{
    color: var(--black);
    align-self: flex-end;
    padding: 1rem;


}
.menu-link {
    color: var(--black);
    font-family: 'Urbanist';
    text-decoration: none;
    padding-top: 4rem;
    padding:1.5rem;

}

.top-menu{
    display: none;

}

.menu{
    display: none;
    background-color: var(--beige);
    padding: 2rem;

}

#checkbox{
    display: none;
}

#checkbox:checked ~ .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: flex-end;

   
  }  

  header{
    display: flex;
    flex-direction: column;
    background-color: var(--beige);

   
  }  

  footer{
    background-color:var(--grey);
    display: flex;
    flex-direction: column;

   
  }  